<div class="survey-component-container">
<h2>Demographics <i class="fa fa-check survey"></i></h2>
<ul>
    <li>Gender: <strong><%= @demographic.gender %></strong></li>
    <li>Education level: <strong><%= @demographic.education_level %></strong></li>
    <li>Year of birth: <strong><%= @demographic.year_of_birth %></strong></li>
</ul>
</div>